<ion-header>
    <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="cancel()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar placeholder="Buscar..." (ionInput)="filterItems($event)" [debounce]="200" animated="true">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none" class="selection-list">
        <!-- Add New Option -->
        <ion-item button detail="false" (click)="createNew()" *ngIf="enableCreate"
            class="create-item ion-margin-bottom">
            <ion-icon name="add-circle-outline" slot="start" color="primary"></ion-icon>
            <ion-label color="primary">
                <h2>{{ createLabel }}</h2>
            </ion-label>
        </ion-item>

        <!-- Items -->
        <ion-item *ngFor="let item of filteredItems" button detail="false" (click)="select(item)" class="selection-item"
            [class.selected]="item.id === selectedId">
            <ion-label>
                <h2>{{ item.label }}</h2>
                <p *ngIf="item.subLabel">{{ item.subLabel }}</p>
            </ion-label>
            <ion-icon name="checkmark-circle" slot="end" color="primary" *ngIf="item.id === selectedId"></ion-icon>
        </ion-item>

        <!-- Empty State -->
        <div class="empty-results" *ngIf="filteredItems.length === 0">
            <ion-icon name="search-outline" size="large"></ion-icon>
            <p>Nenhum item encontrado.</p>
        </div>
    </ion-list>
</ion-content>