ion-item {
    --background: transparent;
    margin-bottom: 16px;
    --border-radius: 8px;
}

.input-item {
    --highlight-color-focused: var(--ion-color-primary);
}

.transaction-type-segment {
    margin-bottom: 20px;
    ion-segment {
        --background: var(--ion-color-light);
        border-radius: 8px;
        padding: 4px;
        
        ion-segment-button {
            --color: var(--ion-color-medium);
            --color-checked: #fff;
            --indicator-color: transparent;
            --background-checked: transparent;
            font-weight: 600;
            border-radius: 6px;
            min-height: 40px;
            margin: 0;
            
            &.segment-credit.segment-button-checked {
                background: var(--ion-color-success);
            }
            
            &.segment-debit.segment-button-checked {
                background: var(--ion-color-danger);
            }
        }
    }
}

.actions {
    margin-top: 20px;
}