ion-item {
    --background: transparent;
    margin-bottom: 16px;
    --border-radius: 8px;
}

.input-item {
    --highlight-color-focused: var(--ion-color-primary);
}

.row-duo {
    display: flex;
    gap: 10px;

    ion-item {
        flex: 1;
    }
}

.actions {
    margin-top: 20px;
}